<div class="sideBasket">
    <div class="sideBasket__logo" *ngIf="!basket || basket?.orderedProducts?.length  === 0">
        <span class="sideBasket__logo-text">Your Basket is Empty</span>
        <svg-icon src="../../../assets/cart.svg" class="sideBasket__logo-icon"></svg-icon>
    </div>

    <div *ngIf="!!basket && basket?.orderedProducts?.length! > 0 ">
        <h2 class="sideBasket__title">Order</h2>
        <table mat-table [dataSource]="dataSource" class="sideBasket__table">
            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td class="sideBasket__table-item" mat-cell *matCellDef="let element">
                    <img class="sideBasket__table-image" src={{element.product.photoUrl}}
                        alt={{element.product.name}} />
                </td>
                <td class="sideBasket__table-footer" mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td class="sideBasket__table-item" mat-cell *matCellDef="let element"> {{element.product.name}} </td>
                <td class="sideBasket__table-footer" mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th class="sideBasket__table-header" mat-header-cell *matHeaderCellDef>Qty</th>
                <td class="sideBasket__table-item" mat-cell *matCellDef="let element">
                    <mat-form-field class="sideBasket__table-item-select">
                        <mat-select [(value)]="element.quantity" (selectionChange)="selectQty($event, element)">
                            <mat-option *ngFor="let number of numbers" [value]="number">
                                {{number}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td class="sideBasket__table-footer" mat-footer-cell *matFooterCellDef> {{getTotalQty()}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th class="sideBasket__table-header" mat-header-cell *matHeaderCellDef>Price</th>
                <td class="sideBasket__table-item" mat-cell *matCellDef="let element"> {{element.product.salePrice |
                    currency: 'GBP'}}
                <td class="sideBasket__table-footer" mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:
                    'GBP'}} </td>
            </ng-container>

            <ng-container matColumnDef="button">
                <td mat-footer-cell *matFooterCellDef colspan="4">
                    <button class="sideBasket__table-button" mat-raised-button color="primary"
                        type="button">Checkout</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            <tr mat-footer-row *matFooterRowDef="['button']"></tr>
        </table>
    </div>

</div>