@import "../../../styles/styles.scss";

.sideBasket {
  background-color: $body-background-color;
  border-left: 1px solid $secondary-text-color;
  width: $sideBar-width;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: $header-height;
  right: 0;
  overflow-x: hidden;
  // padding-top: 20px;
  &__logo {
    padding: 5rem 3rem;
    &-text {
      width: 100%;
      color: $ternary-text-color;
      font-size: 1.15em;
      text-align: center;
    }
    &-icon {
      fill: $ternary-text-color;
    }
  }

  &__table {
    width: 100%;

    &-image {
      height: 100px;
      width: 100px;
      object-fit: cover;
    }

    &-header {
      color: $ternary-text-color;
    }

    &-item {
      font-weight: bold;
    }
  }
}
