@import "../../../styles/styles.scss";

td.mat-cell:first-of-type {
  padding-left: 5px;
}
td.mat-cell:last-of-type {
  padding-right: 5px;
}

td.mat-footer-cell {
  border-bottom-width: 0;
  border-bottom-style: none;
}

.sideBasket {
  background-color: $body-background-color;
  border-left: 1px solid $secondary-text-color;
  width: $sideBar-width;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: $header-height;
  right: 0;
  overflow-x: hidden;
  // padding-top: 20px;
  &__logo {
    padding: 5rem 3rem;
    &-text {
      width: 100%;
      color: $ternary-text-color;
      font-size: 1.15em;
      text-align: center;
    }
    &-icon {
      fill: $ternary-text-color;
    }
  }

  &__title {
    text-align: center;
    color: $theme-color;
    padding: 10px;
  }

  &__table {
    width: 100%;

    &-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 100px;
      width: 100px;
      object-fit: cover;
      border: 1px solid $secondary-text-color;
    }

    &-header {
      color: $ternary-text-color;
      padding: 5px 5px;
      font-size: $font-size;
    }

    &-item {
      font-weight: 900;
      padding: 10px 5px;
      font-size: $font-size;

      &-select {
        width: 3rem;
      }
    }

    &-footer {
      font-weight: 900;
      font-size: $font-size;
    }

    &-button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      font-size: $font-size;
    }
  }
}
