// --- COLORS ---
$text-color: #000000;
$secondary-text-color: #8e8b8b;
$ternary-text-color: #c4c4c4;
$theme-color: #c92e2f;
$secondary-color: #ffd800;
$ternary-color: #f9f9f9;
$body-background-color: #ffffff;
$secondary-background-color: #f9f9f9;

//--- FONTS ---
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$text-font: "Roboto", Arial, sans-serif;
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
//--- SIZES ---
$content-width: 960px;
$header-height: 90px;
$footer-height: 90px;
$sideBar-width: 25vw;
$body-width: 75vw;
$font-size: 1.2rem;
